<header class="header">
  <div class="header__section header__left">
    <nav>
      <a class="header__home-icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"  class="header__home-icon"></mat-icon>
      </a>
    </nav>
  </div>

  <div class="header__section header__center">
    <img src="/images/logo.png" alt="Logo Agora" class="header__logo">
  </div>

  <div class="header__section header__right">
    <a mat-icon-button matBadge="5" matBadgeSize="small" aria-label="Notifications">
      <mat-icon>notifications</mat-icon>
    </a>
    <button mat-stroked-button color="primary">Login</button>
    <button mat-flat-button color="accent">Register</button>
  </div>
</header>
